body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

.btn {
    display: block;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.binance { background: #f3ba2f; }
.kucoin { background: #2faa7d; }
.mexc { background: #31a77b; }
.gateio { background: #a82b2b; }
.bitget { background: #1471f5; }

.btn:hover {
    opacity: 0.8;
}
